<form action="/payment/results">
<label for="ap">APR</label>
  <div>
  <input 
  id="ap" 
  type = "text" 
  placeholder = "E.g. 5.42" 
  name = "apr">
  </div>

  <label for="ny">Number of years</label>
  <div>
  <input 
  id="ny" 
  type = "text" 
  placeholder = "How many years to repay?" 
  name = "years">

  </div>

  <label for="p">Principal</label>
  <div>
  <input 
  id="p" 
  type = "text" 
  placeholder = "How much principal?" 
  name = "principal">

  </div>
  <button>Calculate monthly payment</button>
</form>