<form action="/random/results">
<label for="i2">Minimum</label>
  <div>
  <input 
  id="i2" 
  type = "text" 
  placeholder = "E.g. 1.5" 
  name = "user_min">
  </div>

  <label for="i3">Maximum</label>
  <div>
  <input 
  id="i3" 
  type = "text" 
  placeholder = "E.g. 4.5" 
  name = "user_max">

  </div>
  <button>Pick random number</button>
</form>