

<form>
<label for="i1">Enter a number</label>
  <div>
  <input 
  id="i1" 
  type = "text" 
  placeholder = "What number do you want to square" 
  name = "number">
  </div>
  <button>Calculate square</button>
</form>