
<form action="/square_root/results">
<label for="sr">Enter a number</label>
  <div>
  <input 
  id="sr" 
  type = "text" 
  placeholder = "What number do you want to find the square root of" 
  name = "sr1">
  </div>
  <button>Calculate square root</button>
</form